body {
    background-color: beige;
    height: 3000px;
}
.background {
    height: 600px;    
    margin: auto;
    /*background-image: url(../img/truskawka.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;*/
    
    /*  Ablo tak jak wyżej albo niżej, z tym ze background-size: musi być osobno, nie mozna dać w jednej lini*/
    
    background: url(../img/truskawka.jpg) no-repeat top;
    background-size: cover;
}